@use '../abstracts/variables';
@use '../abstracts/colors';
@use '../abstracts/mixins';
@use '../abstracts/tab/' as tab;

.header-nav {
    display: flex;
    justify-content: center;
    
    &__list {
        align-items: center;
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    &__list-logo{
        color: colors.$surface-text-and-icons-active;
        font-size: variables.$font-size-3xs;
        font-weight: bold;
    }

    &__button {
        @include mixins.btn-reset;

        align-items: center;
        display: flex;
        
        &--config-icon {
            @include tab.tab-state(idle, false);
            @include mixins.icon-state(idle);

            padding: 0.5rem;
            height: 2.5rem;
            width: 2.5rem;

            &:hover {
                @include tab.tab-state(hover);
                @include mixins.icon-state(hover);
            }
            &:active {
                @include tab.tab-state(pressed, true);
                @include mixins.icon-state(pressed);
            }
            &:disabled {
                @include tab.tab-state(disabled);
                @include mixins.icon-state(disabled);
            }
        }

    }
}