@use '../abstracts/variables';
@use '../abstracts/colors';
@use '../abstracts/mixins';
@use '../abstracts/placeholders';
@use '../base/fonts';

.header-nav {
    display: flex;
    justify-content: center;
    
    &__list {
        align-items: center;
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    &__list-logo{
        color: colors.$surface-text-and-icons-active;
        font-size: fonts.$font-size-3xs;
        font-weight: bold;
    }

}