@use '../abstracts/variables';
@use '../abstracts/spacing';
@use '../abstracts/colors';
@use '../abstracts/mixins';
@use '../abstracts/placeholders';



.tab-nav {
    display: flex;
    justify-content: center;

    &__list {
        // align-items: center;
        display: flex;
        // flex-direction: row;
        justify-content: flex-start;
        width: 100%;
    }

    &__list-item {
        justify-content: center;
        border-radius: 0.5rem;
        display: flex;
        height: 2rem;
        
    }

    &__list-item-button {
        @extend %btn-reset;

    
        display: inline-block;

        &--start {
            @include mixins.tab-state(idle, true);
        }

        &--stats {
            @include mixins.tab-state(idle, false);
        }

        &:hover {
            @include mixins.tab-state(hover);
        }


        
    }
}