@use '../abstracts/variables';
@use '../abstracts/spacing';
@use '../abstracts/colors';
@use '../abstracts/mixins';
@use '../abstracts/button/state' as state;


.tab-nav {
    display: flex;
    justify-content: center;

    &__list {
        // align-items: center;
        display: flex;
        // flex-direction: row;
        justify-content: flex-start;
        width: 100%;
    }

    &__list-item {
        justify-content: center;
        background-color: colors.$surface-background-highlight-active;
        border-radius: 0.5rem;
        display: flex;
        height: 2rem;
        
    }

    &__list-item-button {
        @include mixins.btn-reset;

        color: colors.$surface-text-and-icons-active;
        display: inline-block;

        &--start {
            @include state.btn-state(idle, true);
        }
        
    }
}