@use '../mixins';
@use '../variables';


%btn-base {
    @include mixins.btn-reset;
    @include mixins.spacing-x(padding, quark);
    
    align-items: center;
    border-radius: 0.5rem;
    cursor: pointer;
    display: inline-flex;
    font-size: variables.$font-size-baseline;
    justify-content: center;
    
}
