@use '../abstracts/variables';
@use '../abstracts/spacing';
@use '../abstracts/colors';

.home__bg {
    background: linear-gradient(to bottom, colors.$surface-background-base-idle-1, colors.$surface-background-base-idle-2);
}


.tab__nav {
    display: flex;
    justify-content: center;
    .tab__nav-list {
        align-items: center;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        width: 100%;

        .tab__nav-text {
            font-size: variables.$font-size-baseline;
            color: colors.$surface-text-and-icons-active;
        }

    }
}