/* Elevated / Auxiliary */
$elevated-auxiliary-strong: #be5547;
$elevated-auxiliary-subtle: #f2a297;

/* Elevated / Background / Base */
$elevated-background-base-active-1: #fbe3e0;
$elevated-background-base-active-2: #f5bcb4;
$elevated-background-base-idle-1: #f2a297;
$elevated-background-base-idle-2: #ef8d80;
$elevated-background-base-hover-1: #ef8d80;
$elevated-background-base-hover-2: #e47668;
$elevated-background-base-pressed-1: #f5bcb4;
$elevated-background-base-pressed-2: #f2a297;
$elevated-background-base-disabled: #755a57;


/* Elevated / Background / Highlight */
$elevated-background-highlight-active: #fbe3e0;
$elevated-background-highlight-idle: #f5bcb4;
$elevated-background-highlight-hover: #ef8d80;
$elevated-background-highlight-pressed: #f5bcb4;
$elevated-background-highlight-disabled: #f5bcb4;

/* Elevated / Text and Icons */
$elevated-text-and-icons-active: #56170f;
$elevated-text-and-icons-idle: #852418;
$elevated-text-and-icons-hover: #be5547;
$elevated-text-and-icons-pressed: #de5441;
$elevated-text-and-icons-disabled: #4d2e18;


/* Floating / Auxiliary / Primary */
$floating-auxiliary-primary-strong: #71a27d;
$floating-auxiliary-primary-subtle: #87c596;
  

/* Floating / Auxiliary / Secondary */
$floating-auxiliary-secondary-strong: #6d6057;
$floating-auxiliary-secondary-subtle: #dbd2cf;

  
/* Floating / Background / Base */
$floating-background-base-active: #f8f8f8;
$floating-background-base-idle: #f0f0f5;
$floating-background-base-hover: #dbd2cf;
$floating-background-base-pressed: #b6aca7;
$floating-background-base-disabled: #92867f;

  
/* Floating / Background / Highlight / Primary */
$floating-background-highlight-primary-active: #80ac8b;
$floating-background-highlight-primary-idle: #c1e1ca;
$floating-background-highlight-primary-hover: #d6ebdc;
$floating-background-highlight-primary-pressed: #f8fcf9;
$floating-background-highlight-primary-disabled: #755a57;

  
/* Floating / Background / Highlight / Secondary */
$floating-background-highlight-secondary-active: #f8f8f8;
$floating-background-highlight-secondary-idle: #dbd2cf;
$floating-background-highlight-secondary-hover: #f8f8f8;
$floating-background-highlight-secondary-pressed: #b6aca7;
$floating-background-highlight-secondary-disabled: #b6aca7;

  
/* Floating / Text and Icons / Base */
$floating-text-and-icons-base-active: #444546;
$floating-text-and-icons-base-idle: #6d6057;
$floating-text-and-icons-base-hover: #92867f;
$floating-text-and-icons-base-pressed: #92867f;
$floating-text-and-icons-base-disabled: #b6aca7;

  
/* Floating / Text and Icons / Highlight / Primary */
$floating-text-and-icons-highlight-primary-active: #4f6657;
$floating-text-and-icons-highlight-primary-idle: #333f37;
$floating-text-and-icons-highlight-primary-hover: #71a27d;
$floating-text-and-icons-highlight-primary-pressed: #80ac8b;
$floating-text-and-icons-highlight-primary-disabled: #4f6657;

  
/* Floating / Text and Icons / Highlight / Secondary */
$floating-text-and-icons-highlight-secondary-active: #101012;
$floating-text-and-icons-highlight-secondary-idle: #303033;
$floating-text-and-icons-highlight-secondary-hover: #444546;
$floating-text-and-icons-highlight-secondary-pressed: #444546;
$floating-text-and-icons-highlight-secondary-disabled: #92867f;


/* Receeded / Auxiliary */
$receeded-auxiliary-strong: #64826e;
$receeded-auxiliary-subtle: #a0b0a5;


/* Receeded / Background / Base */
$receeded-background-base-idle-1: #d6ebdc;
$receeded-background-base-idle-2: #f8fcf9;
$receeded-background-base-disabled: #a0b0a5;


/* Receeded / Background / Highlight */
$receeded-background-highlight-active: #4f6657;
$receeded-background-highlight-idle: #a0b0a5;
$receeded-background-highlight-disabled: #f8fcf9;


/* Receeded / Text and Icons */
$receeded-text-and-icons-active: #4f6657;
$receeded-text-and-icons-disabled: #c1e1ca;


/* Surface / Auxiliary */
$surface-auxiliary-strong: #7f5c1e;
$surface-auxiliary-subtle: #ffcb66;


/* Surface / Auxiliary / Secondary */
$surface-auxiliary-secondary-max: #56170f;
$surface-auxiliary-secondary-strongest: #852418;
$surface-auxiliary-secondary-stronger: #be5547;
$surface-auxiliary-secondary-strong: #de5441;
$surface-auxiliary-secondary-mid: #e47668;
$surface-auxiliary-secondary-subtle: #ef8d80;
$surface-auxiliary-secondary-subtler:#f2a297;
$surface-auxiliary-secondary-subtlest: #f5bcb4;
$urface-auxiliary-secondary-min: #fbe3e0;


/* Surface / Background / Base */
$surface-background-base-idle-1:  #ffcb66;
$surface-background-base-idle-2: #ffc24d;
$surface-background-base-hover-1: #ffdc99;
$surface-background-base-hover-2: #ffdc99;
$surface-background-base-pressed-1: #b28d45;
$surface-background-base-pressed-2: #7f5c1e;
$surface-background-base-disabled: #d5bd8d;


/* Surface / Background / Highlight */
$surface-background-highlight-active: #f0af2f;
$surface-background-highlight-idle: rgba(240, 175, 47, 0);
$surface-background-highlight-hover: #ffdc99;
$surface-background-highlight-pressed: #b28d45;
$surface-background-highlight-disabled: #d5bd8d;

$surface-background-highlight-secondary-idle: #ffdc99;


/* Surface / Text and Icons */
$surface-text-and-icons-active: #4d2e18;
$surface-text-and-icons-idle: #b28d45;
$surface-text-and-icons-hover: #7f5c1e;
$surface-text-and-icons-pressed: #7f5c1e;
$surface-text-and-icons-disabled: #7a6d52;
