@use './colors';
@use './variables';

%btn-reset {
    background: none;
    border: none;
    color: inherit;
    cursor: pointer;
    font: inherit;
    outline: none;
    text-align: inherit;

    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

%play-base {
    align-items: center;
    border-radius: 50%;
    display: inline-flex;
    height: 6.5rem;
    justify-content: center;
    position: relative;
    width: 6.5rem;
    // height: calc(4rem + 5vw);
    // width:  calc(4rem + 5vw);
}



%tab-base {
    @extend %btn-reset;
    
    align-items: center;
    border-radius: 0.5rem;
    cursor: pointer;
    display: inline-flex;
    font-size: variables.$font-size-baseline;
    justify-content: center;
    padding: 0.5rem;
    
}

