@use './colors';
@use '../base/fonts';

%btn-reset {
    background: none;
    border: none;
    color: inherit;
    cursor: pointer;
    font: inherit;
    outline: none;
    text-align: inherit;

    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

%play-btn-base {
    align-items: center;
    border-radius: 50%;
    display: inline-flex;
    height: 6.5rem;
    justify-content: center;
    position: relative;
    width: 6.5rem;
}




%icon-base{
    @extend %btn-reset;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
    display: inline-flex;
    justify-content: center;

    background-color: colors.$surface-background-highlight-active;
    height: 2.5rem;
    width: 2.5rem;

}



%tab-base {
    @extend %btn-reset;
    
    align-items: center;
    border-radius: 0.5rem;
    cursor: pointer;
    display: inline-flex;
    font-size: fonts.$font-size-baseline;
    justify-content: center;
    padding: 0.5rem;
    
}

%timer-text {
    font-family: fonts.$font-primary;
    font-size: 0.75rem;
    letter-spacing: -0.72px;
    text-align: center;
}

%timer-status-size {
    height: 2rem;
    width: 2rem;
}

%timer-numbers {
    color: colors.$receeded-text-and-icons-active;
    font-family: fonts.$font-display;
    font-size: 6rem;
    letter-spacing: -3.39px;
}

%timer-backlight {
    content: "88";
    position: absolute;
    color: colors.$receeded-text-and-icons-disabled;
    z-index: -1;
}

