
@use 'colors';


/* button stats */

$btn-states: (
    idle: (
        bg-false: colors.$surface-background-highlight-idle,
        text-false: colors.$surface-text-and-icons-idle,

        bg-true: colors.$surface-background-highlight-active,
        text-true: colors.$surface-text-and-icons-active,
    ),

    pressed: (
        bg-false: colors.$surface-background-highlight-pressed,
        text-false: colors.$surface-text-and-icons-pressed,

        bg-true: colors.$surface-background-highlight-active,
        text-true: colors.$surface-text-and-icons-active,
    ),

    hover: (
        bg: colors.$surface-background-highlight-hover,
        text: colors.$surface-text-and-icons-hover,
    ),

    disabled: (
        bg: colors.$surface-background-highlight-disabled,
        text: colors.$surface-text-and-icons-disabled,
    ),
);


/* config buttons stats*/

$icon-button-svgs: (
    idle: '/assets/icons/config-status-idle.svg',
    hover: '/assets/icons/config-status-hover.svg',
    pressed: '/assets/icons/config-status-pressed.svg',
    disabled: '/assets/icons/config-status-disabled.svg'
);


/* statuses for class generation*/

$statuses: (
  active: colors.$receeded-text-and-icons-active,
  inactive: colors.$receeded-text-and-icons-disabled
);

