@use '../abstracts/tab/' as tab;
@use '../abstracts/mixins';
@use '../abstracts/spacing';
@use '../abstracts/colors';
@use '../abstracts/placeholders';



.button {

    @extend %btn-reset;

    &--play {
    

        align-items: center;
        border-radius: 50%;
        display: inline-flex;
        justify-content: center;
        width: 4.5rem;
        height: 4.5rem;

    }

}