
@use '../abstracts/mixins';
@use '../abstracts/spacing';
@use '../abstracts/colors';
@use '../abstracts/placeholders';



.play-controls__button {

    @extend %btn-reset;

    &--play {
    
        @extend %play-base;

        align-items: center;
        background-image: radial-gradient(circle at 50% 50%, colors.$elevated-background-base-idle-1, colors.$elevated-background-base-idle-2 71%);
        border: solid 0.05rem colors.$elevated-auxiliary-strong;
        display: inline-flex;
        justify-content: center;

    }

}