
.project-form {

    display: flex;
    justify-content: center;

    &__container {
        align-items: center;
        display: flex;
        flex-direction: column;
        gap:0.75rem;

    }

    // &__text {
        
    // }
    
    &__buttons {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
}