@use "../base/fonts";


.project-form {

    display: flex;
    justify-content: center;

    &__container {
        align-items: center;
        display: flex;
        flex-direction: column;
        gap:0.75rem;

    }

    &__text {
        font-family: fonts.$font-primary;
        font-size: fonts.$font-size-baseline;
        letter-spacing: -0.2px;
        line-height: 1.5rem;
    }
    
    &__buttons {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
}