
@use '../abstracts/breakpoints';
@use '../abstracts/mixins';
@use '../abstracts/spacing';
@use '../abstracts/colors';
@use '../abstracts/placeholders';


.play-controls {
    display: flex;
    justify-content: center;
    
    &__container {
        align-items: center;
        display: inline-flex;
        flex-direction: row;
        justify-content: center;
        gap: 2rem;
    }

    &__button {
        @extend %btn-reset;

        &--stop {

            @include mixins.config-state(idle, false);

            background-color: colors.$surface-background-highlight-active;
            border-radius: 50%;
            height: 2.5rem;
            width: 2.5rem;

            &:hover {
                @include mixins.config-state(hover);
                
                border-radius: 50%;
            }

            &:active {
                @include mixins.config-state(pressed, true);
                
            }

            &:disabled {
                @include mixins.config-state(disabled);
                
            }

        }

        &--play {
    
        @extend %play-btn-base;

        background-image: radial-gradient(circle at 50% 50%, colors.$elevated-background-base-idle-1, colors.$elevated-background-base-idle-2 71%);
        border: solid 0.05rem colors.$elevated-auxiliary-strong;

            &:after {
                background-color: colors.$surface-auxiliary-strong;
                border-radius: 50%;
                content: "";
                height: 100%;
                left: 0.25rem;
                position: absolute;
                top: 0.25rem;
                width: 100%;
                z-index: -1;      
                
            }
        
            .play-controls__button-pause-icon {
            height: 2rem;
            width: 1.5rem;
            display: none;

                &.pressed {
                    -webkit-filter: blur(1rem);
                    filter: blur(1rem)
                }

                @include mixins.media-breakpoint-up(md){
                    height: 3rem;
                    width: 2.3rem;
                    
                }
            }

            .play-controls__button-play-icon {
            padding-left: 0.325rem;
            height: 2rem;
            width: 1.5rem;
            display: block;

                &.pressed {
                    -webkit-filter: blur(1rem);
                    filter: blur(1rem)
                }

                @include mixins.media-breakpoint-up(md){
                    height: 3rem;
                    width: 2.3rem;
                }
            }

            .play-controls__button-highlight {
                display: block;
                left: 0.25rem;
                position: absolute;
                top: 0.25rem;

                @include mixins.media-breakpoint-up(md) {
                    left: 0.60rem;
                    position: absolute;
                    top: 0.60rem;
                }
            }

            .play-controls__button-highlight-pause {
                display: none;
                left: 0.25rem;
                position: absolute;
                top: 0.25rem;

                @include mixins.media-breakpoint-up(md) {
                    left: 0.60rem;
                    position: absolute;
                    top: 0.60rem;
                }
            }


            @include mixins.media-breakpoint-up(md){
                height: 8.775rem;
                width: 8.775rem;
            }

        }

        &--pause {

            @extend %play-btn-base;

            background-image: radial-gradient(circle at 50% 50%, colors.$elevated-background-base-active-1, colors.$elevated-background-base-active-2 71%);
            border: solid 0.05rem colors.$elevated-auxiliary-subtle;

            &:after {
                background-color: colors.$surface-auxiliary-strong;
                border-radius: 50%;
                content: "";
                height: 100%;
                left: 0;
                opacity: 0.5;
                position: absolute;
                transform: scale(1.03);
                top: 0;
                width: 100%;
                z-index: -1;            
            }

            .play-controls__button-play-icon {
            padding-left: 0.325rem;
            height: 2rem;
            width: 1.5rem;
            display: none;

                &.pressed {
                    -webkit-filter: blur(1rem);
                    filter: blur(1rem)
                }

                @include mixins.media-breakpoint-up(md){
                    height: 3rem;
                    width: 2.3rem;
                }
            }

            .play-controls__button-pause-icon {
            height: 2rem;
            width: 1.5rem;
            display: block;

                &.pressed {
                    -webkit-filter: blur(1rem);
                    filter: blur(1rem)
                }

                @include mixins.media-breakpoint-up(md){
                    height: 3rem;
                    width: 2.3rem;
                }
            }


            .play-controls__button-highlight {

                display: none;
                left: 0.25rem;
                position: absolute;
                top: 0.25rem;

                @include mixins.media-breakpoint-up(md) {
                    left: 0.60rem;
                    position: absolute;
                    top: 0.60rem;
                }
            }

            .play-controls__button-highlight-pause {
                display: block;
                left: 0.25rem;
                position: absolute;
                top: 0.25rem;

                @include mixins.media-breakpoint-up(md) {
                    position: absolute;
                    top: 0.60rem;
                    left: 0.60rem;
                }
            }

            @include mixins.media-breakpoint-up(md){
                height: 8.775rem;
                width: 8.775rem;
            }

        }

        &--skip {

            @include mixins.config-state(idle, false);

            background-color: colors.$surface-background-highlight-active;
            border-radius: 50%;
            height: 2.5rem;
            width: 2.5rem;

            &:hover {
                @include mixins.config-state(hover);
                
                border-radius: 50%;
            }

            &:active {
                @include mixins.config-state(pressed, true);
                
            }

            &:disabled {
                @include mixins.config-state(disabled);
                
            }
            
        }

        &--hover {

            @extend %play-btn-base;

            background-image: radial-gradient(circle at 50% 50%, colors.$elevated-background-base-hover-1, colors.$elevated-background-base-hover-2 71%);
            border: solid 0.05rem colors.$elevated-auxiliary-strong;

            &:after {
                background-color: colors.$surface-auxiliary-strong;
                border-radius: 50%;
                content: "";
                height: 100%;
                left: 0.25rem;
                opacity: 0.3;
                position: absolute;
                top: 0.25rem;
                width: 100%;
                z-index: -1;            
            }

            @include mixins.media-breakpoint-up(md){
                height: 8.775rem;
                width: 8.775rem;
            }


        }

        &--pressed {

        @extend %play-btn-base;

        background-image: radial-gradient(circle at 50% 50%, colors.$elevated-background-base-pressed-1, colors.$elevated-background-base-pressed-2 71%);
        border: solid 0.05rem colors.$elevated-auxiliary-strong;

            &:after {
                background-color: colors.$surface-auxiliary-strong;
                border-radius: 50%;
                content: "";
                height: 100%;
                left: 0;
                opacity: 0.1;
                position: absolute;
                top: 0.25rem;
                width: 100%;
                z-index: -1;            
            }

            @include mixins.media-breakpoint-up(md){
                height: 8.775rem;
                width: 8.775rem;
            }


        }

        // &-highlight {
        //     position: absolute;
        //     top: 0.25rem;
        //     left: 0.25rem;

        //     @include mixins.media-breakpoint-up(md) {
        //         position: absolute;
        //         top: 0.60rem;
        //         left: 0.60rem;
        //     }
        // }

        // &-highlight-pause {
        //     position: absolute;
        //     top: 0.25rem;
        //     left: 0.25rem;

        //     @include mixins.media-breakpoint-up(md) {
        //         position: absolute;
        //         top: 0.60rem;
        //         left: 0.60rem;
        //     }
        // }

        &-highlight-hover {
            position: absolute;
            top: 0.25rem;
            left: 0.25rem;

            @include mixins.media-breakpoint-up(md) {
                position: absolute;
                top: 0.60rem;
                left: 0.60rem;
            }
        }

        &-highlight-pressed {
            position: absolute;
            top: 0.25rem;
            left: 0.25rem;

            @include mixins.media-breakpoint-up(md) {
                position: absolute;
                top: 0.60rem;
                left: 0.60rem;
            }
        }

        // &-play-icon {
        //     padding-left: 0.325rem;
        //     height: 2rem;
        //     width: 1.5rem;

        //     &.pressed {
        //         -webkit-filter: blur(1rem);
        //         filter: blur(1rem)
        //     }

        //     @include mixins.media-breakpoint-up(md){
        //         height: 3rem;
        //         width: 2.3rem;
        //     }


        // }

        // &-pause-icon {
        //     height: 2rem;
        //     width: 1.5rem;

        //     &.pressed {
        //         -webkit-filter: blur(1rem);
        //         filter: blur(1rem)
        //     }

        //     @include mixins.media-breakpoint-up(md){
        //         height: 3rem;
        //         width: 2.3rem;
        //     }
        // }
    
    }
}
