@use "../abstracts/colors";
@use "../base/fonts";


.project-settings {

    background-color: colors.$floating-background-base-idle;
    border-radius: 1rem 1rem 0 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    height: 100px;
    position: fixed;
    
    width: 100%;


    &__container {
        align-items: center;

        flex-direction: column;
        gap:0.75rem;
        height: 75vw;

    }


    &__label {
        color: colors.$floating-text-and-icons-base-idle;
        font-family: fonts.$font-primary;
        font-size: fonts.$font-size-3xs;
        font-weight: bold;
        letter-spacing: -0.2px;
        line-height: 1.5rem;
    }
    


}

.project-settings__section {
    width: 100%;
}