@use '../abstracts/colors';
@use '../abstracts/variables';

.timer-card  {
    display: flex;
    height: 17rem;
    position: relative;
    width: auto;


        &__box {
            background: linear-gradient(to bottom, colors.$receeded-background-base-idle-1, colors.$receeded-background-base-idle-1);
            border-radius: 1rem;
            height: 15.75rem;
            position: absolute;

            width: calc(100% - 0.5rem);
            
            
        }

        &__shadow {
            align-items: flex-end;
            background: colors.$receeded-background-highlight-idle;
            border: solid 1px colors.$receeded-auxiliary-strong;
            border-radius: 1rem;
            display: flex;
            height: 16.25rem;   
            justify-content: flex-end;
            position: relative;
            width: 1100%;
            
        }
}
