@use '../abstracts/colors';
@use '../abstracts/placeholders';
@use '../base/fonts';

.timer-card  {
    display: flex;
    height: 16.5rem;
    position: relative;
    width: auto;


        &__box {
            background: linear-gradient(to bottom, colors.$receeded-background-base-idle-1, colors.$receeded-background-base-idle-1);
            border-radius: 1rem;
            display: flex;
            flex-direction: column;
            gap: 1.5rem;
            height: 15.75rem;
            position: absolute;

            width: calc(100% - 0.5rem);
            
            
        }

        &__shadow {
            align-items: flex-end;
            background: colors.$receeded-background-highlight-idle;
            border: solid 1px colors.$receeded-auxiliary-strong;
            border-radius: 1rem;
            display: flex;
            height: 16.25rem;   
            justify-content: flex-end;
            position: relative;
            width: 100%;
            
        }
}

.timer-card__display {
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    justify-content: space-around;
    padding-top: 1.5rem;
    
}

.timer-card__status {
    display: flex;
    flex-direction: column;

    gap: 0.5rem;

    &--work {
        @extend %timer-text;

        align-items: center;
        display: flex;
        flex-direction: column;
        gap: 0.25rem;
    }

    &--pause {
        @extend %timer-text;

        align-items: center;
        display: flex;
        flex-direction: column;
        gap: 0.25rem;
    }

}

.timer-card__work-icon {
    @extend %timer-status-size;
}


.timer-card__timer {
    display: flex;
    flex-direction: row;
}

.timer-card__minutes {
    @extend %timer-text;

    &--number {
        font-family: fonts.$font-display;
        font-size: 7rem;
        letter-spacing: -3.39px;
    }
}

.timer-card__seconds {
    @extend %timer-text; 
}

.timer-card__counter {
    display: flex;
    flex-direction: row;
    
    &--bar {
        background-color: colors.$receeded-text-and-icons-active;
        border-radius: 1rem;
        height: 4rem;
        width: 0.25rem;
    }
}