@font-face {
    font-family: 'DSEG7Classic';

    src: url('../assets/fonts/DSEG7Classic-Regular.woff2') format('woff2'),
    url('../assets/fonts/DSEG7Classic-Regular.woff') format('woff'),
    url('../assets/fonts/DSEG7Classic-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'DSEG7ClassicMini';

    src: url('../assets/fonts/DSEG7ClassicMini-Regular.woff2') format('woff2'),
    url('../assets/fonts/DSEG7ClassicMini-Regular.woff') format('woff'),
    url('../assets/fonts/DSEG7ClassicMini-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


/* Fonts */
$font-primary: "Karla", sans-serif;
$font-display-primary: "DSEG7Classic", monospace;
$font-display-secondary: "DSEG7ClassicMini", monospace;

$font-size-min: 0.25rem;
$font-size-quark: 0.5rem;
$font-size-nano: 0.75rem;
$font-size-micro:0.875rem;
$font-size-baseline: 1rem;
$font-size-3xs: 1.5rem;
$font-size-2xs: 2rem;
$font-size-xs: 2.5rem;
$font-size-sm: 3rem;
$font-size-md: 4rem;
$font-size-lg: 4.5rem;
$font-size-xl: 5rem;
$font-size-2xl: 6rem;
$font-size-3xl: 6.5rem;
$font-size-mega: 8rem;
$font-size-max:10rem;