@font-face {
    font-family: "SevenSegment", sans-serif;
    src: url(../../assets/fonts/sevensegment.ttf) format('truetype');
}

/* Fonts */
$font-primary: "Karla", sans-serif;
$font-display: "SevenSegment", monospace;

$font-size-min: 0.25rem;
$font-size-quark: 0.5rem;
$font-size-nano: 0.75rem;
$font-size-micro:0.875rem;
$font-size-baseline: 1rem;
$font-size-3xs: 1.5rem;
$font-size-2xs: 2rem;
$font-size-xs: 2.5rem;
$font-size-sm: 3rem;
$font-size-md: 4rem;
$font-size-lg: 4.5rem;
$font-size-xl: 5rem;
$font-size-2xl: 6rem;
$font-size-3xl: 6.5rem;
$font-size-mega: 8rem;
$font-size-max:10rem;