@font-face {
  font-family: "SevenSegment", sans-serif;
  src: url(../../assets/fonts/sevensegment.ttf) format("truetype");
}
/* Elevated / Auxiliary */
/* Elevated / Background / Base */
/* Elevated / Background / Highlight */
/* Elevated / Text and Icons */
/* Receeded / Auxiliary */
/* Receeded / Background / Base */
/* Receeded / Background / Highlight */
/* Receeded / Text and Icons */
/* Surface / Auxiliary */
/* Surface / Background / Base */
/* Surface / Background / Highlight */
/* Surface / Text and Icons */
/* Fonts */
/* button stats */
/* config buttons stats*/
/* button mixin */
/* spacings mixins */
.margin-min {
  margin: 0.25rem;
}

.padding-min {
  padding: 0.25rem;
}

.gap-min {
  gap: 0.25rem;
}

.margin-quark {
  margin: 0.5rem;
}

.padding-quark {
  padding: 0.5rem;
}

.gap-quark {
  gap: 0.5rem;
}

.margin-nano {
  margin: 0.75rem;
}

.padding-nano {
  padding: 0.75rem;
}

.gap-nano {
  gap: 0.75rem;
}

.margin-micro {
  margin: 0.875rem;
}

.padding-micro {
  padding: 0.875rem;
}

.gap-micro {
  gap: 0.875rem;
}

.margin-baseline {
  margin: 1rem;
}

.padding-baseline {
  padding: 1rem;
}

.gap-baseline {
  gap: 1rem;
}

.margin-3xs {
  margin: 1.5rem;
}

.padding-3xs {
  padding: 1.5rem;
}

.gap-3xs {
  gap: 1.5rem;
}

.margin-2xs {
  margin: 2rem;
}

.padding-2xs {
  padding: 2rem;
}

.gap-2xs {
  gap: 2rem;
}

.margin-xs {
  margin: 2.5rem;
}

.padding-xs {
  padding: 2.5rem;
}

.gap-xs {
  gap: 2.5rem;
}

.margin-sm {
  margin: 3rem;
}

.padding-sm {
  padding: 3rem;
}

.gap-sm {
  gap: 3rem;
}

.margin-md {
  margin: 4rem;
}

.padding-md {
  padding: 4rem;
}

.gap-md {
  gap: 4rem;
}

.margin-lg {
  margin: 4.5rem;
}

.padding-lg {
  padding: 4.5rem;
}

.gap-lg {
  gap: 4.5rem;
}

.margin-xl {
  margin: 5rem;
}

.padding-xl {
  padding: 5rem;
}

.gap-xl {
  gap: 5rem;
}

.margin-2xl {
  margin: 6rem;
}

.padding-2xl {
  padding: 6rem;
}

.gap-2xl {
  gap: 6rem;
}

.margin-3xl {
  margin: 6.5rem;
}

.padding-3xl {
  padding: 6.5rem;
}

.gap-3xl {
  gap: 6.5rem;
}

.margin-mega {
  margin: 8rem;
}

.padding-mega {
  padding: 8rem;
}

.gap-mega {
  gap: 8rem;
}

.margin-max {
  margin: 10rem;
}

.padding-max {
  padding: 10rem;
}

.gap-max {
  gap: 10rem;
}

.margin-y-min {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}

.padding-y-min {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

.margin-y-quark {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.padding-y-quark {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.margin-y-nano {
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
}

.padding-y-nano {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.margin-y-micro {
  margin-top: 0.875rem;
  margin-bottom: 0.875rem;
}

.padding-y-micro {
  padding-top: 0.875rem;
  padding-bottom: 0.875rem;
}

.margin-y-baseline {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.padding-y-baseline {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.margin-y-3xs {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.padding-y-3xs {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.margin-y-2xs {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.padding-y-2xs {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.margin-y-xs {
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}

.padding-y-xs {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

.margin-y-sm {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.padding-y-sm {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.margin-y-md {
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.padding-y-md {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.margin-y-lg {
  margin-top: 4.5rem;
  margin-bottom: 4.5rem;
}

.padding-y-lg {
  padding-top: 4.5rem;
  padding-bottom: 4.5rem;
}

.margin-y-xl {
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.padding-y-xl {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.margin-y-2xl {
  margin-top: 6rem;
  margin-bottom: 6rem;
}

.padding-y-2xl {
  padding-top: 6rem;
  padding-bottom: 6rem;
}

.margin-y-3xl {
  margin-top: 6.5rem;
  margin-bottom: 6.5rem;
}

.padding-y-3xl {
  padding-top: 6.5rem;
  padding-bottom: 6.5rem;
}

.margin-y-mega {
  margin-top: 8rem;
  margin-bottom: 8rem;
}

.padding-y-mega {
  padding-top: 8rem;
  padding-bottom: 8rem;
}

.margin-y-max {
  margin-top: 10rem;
  margin-bottom: 10rem;
}

.padding-y-max {
  padding-top: 10rem;
  padding-bottom: 10rem;
}

.margin-x-min {
  margin-left: 0.25rem;
  margin-right: 0.25rem;
}

.padding-x-min {
  padding-left: 0.25rem;
  padding-right: 0.25rem;
}

.margin-x-quark {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.padding-x-quark {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.margin-x-nano {
  margin-left: 0.75rem;
  margin-right: 0.75rem;
}

.padding-x-nano {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

.margin-x-micro {
  margin-left: 0.875rem;
  margin-right: 0.875rem;
}

.padding-x-micro {
  padding-left: 0.875rem;
  padding-right: 0.875rem;
}

.margin-x-baseline {
  margin-left: 1rem;
  margin-right: 1rem;
}

.padding-x-baseline {
  padding-left: 1rem;
  padding-right: 1rem;
}

.margin-x-3xs {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.padding-x-3xs {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.margin-x-2xs {
  margin-left: 2rem;
  margin-right: 2rem;
}

.padding-x-2xs {
  padding-left: 2rem;
  padding-right: 2rem;
}

.margin-x-xs {
  margin-left: 2.5rem;
  margin-right: 2.5rem;
}

.padding-x-xs {
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}

.margin-x-sm {
  margin-left: 3rem;
  margin-right: 3rem;
}

.padding-x-sm {
  padding-left: 3rem;
  padding-right: 3rem;
}

.margin-x-md {
  margin-left: 4rem;
  margin-right: 4rem;
}

.padding-x-md {
  padding-left: 4rem;
  padding-right: 4rem;
}

.margin-x-lg {
  margin-left: 4.5rem;
  margin-right: 4.5rem;
}

.padding-x-lg {
  padding-left: 4.5rem;
  padding-right: 4.5rem;
}

.margin-x-xl {
  margin-left: 5rem;
  margin-right: 5rem;
}

.padding-x-xl {
  padding-left: 5rem;
  padding-right: 5rem;
}

.margin-x-2xl {
  margin-left: 6rem;
  margin-right: 6rem;
}

.padding-x-2xl {
  padding-left: 6rem;
  padding-right: 6rem;
}

.margin-x-3xl {
  margin-left: 6.5rem;
  margin-right: 6.5rem;
}

.padding-x-3xl {
  padding-left: 6.5rem;
  padding-right: 6.5rem;
}

.margin-x-mega {
  margin-left: 8rem;
  margin-right: 8rem;
}

.padding-x-mega {
  padding-left: 8rem;
  padding-right: 8rem;
}

.margin-x-max {
  margin-left: 10rem;
  margin-right: 10rem;
}

.padding-x-max {
  padding-left: 10rem;
  padding-right: 10rem;
}

/* breakpoints mixins */
.tab-nav__list-item-button--start, .tab-nav__list-item-button--stats, .tab-nav__list-item-button:hover, .header-nav__button--config-icon, .header-nav__button--config-icon:hover, .header-nav__button--config-icon:active, .header-nav__button--config-icon:disabled, .button--play[aria-pressed=false], .button--play[aria-pressed=false]:hover, .button--play[aria-pressed=false]:active, .button--play[aria-pressed=true], .button--play[aria-pressed=true]:hover, .button--play[aria-pressed=true]:active, .button--play:disabled {
  background: none;
  border: none;
  color: inherit;
  font: inherit;
  text-align: inherit;
  cursor: pointer;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  align-items: center;
  border-radius: 0.5rem;
  cursor: pointer;
  display: inline-flex;
  font-size: 1rem;
  justify-content: center;
}

body {
  font-family: "Karla", sans-serif;
  height: 100vh;
  width: 100%;
}

a {
  text-decoration: none;
}

.button {
  background: none;
  border: none;
  color: inherit;
  font: inherit;
  text-align: inherit;
  cursor: pointer;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.button--play {
  align-items: center;
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  width: 4.5rem;
  height: 4.5rem;
}
.button--play svg {
  flex-shrink: 0;
  width: 3rem;
  height: 3rem;
}
.button--play[aria-pressed=false] {
  background: none;
  border: none;
  color: inherit;
  font: inherit;
  text-align: inherit;
  cursor: pointer;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: rgba(240, 175, 47, 0);
  color: #b28d45;
  background-color: #f2a297;
  box-shadow: 0.4rem #ef8d80;
}
.button--play[aria-pressed=false] svg:nth-of-type(1) {
  display: block;
}
.button--play[aria-pressed=false] svg:nth-of-type(2) {
  display: none;
}
.button--play[aria-pressed=false]:hover {
  background: none;
  border: none;
  color: inherit;
  font: inherit;
  text-align: inherit;
  cursor: pointer;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: #ffdc99;
  color: #7f5c1e;
  background-color: #ef8d80;
  box-shadow: 0.4rem #e47668;
}
.button--play[aria-pressed=false]:active {
  background: none;
  border: none;
  color: inherit;
  font: inherit;
  text-align: inherit;
  cursor: pointer;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: #b28d45;
  color: #7f5c1e;
  background-color: #f5bcb4;
  box-shadow: 0.4rem #f2a297;
}
.button--play[aria-pressed=true] {
  background: none;
  border: none;
  color: inherit;
  font: inherit;
  text-align: inherit;
  cursor: pointer;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: #f0af2f;
  color: #4d2e18;
  background-color: #fbe3e0;
  box-shadow: 0.4rem #f5bcb4;
}
.button--play[aria-pressed=true] svg:nth-of-type(1) {
  display: none;
}
.button--play[aria-pressed=true] svg:nth-of-type(2) {
  display: block;
}
.button--play[aria-pressed=true]:hover {
  background: none;
  border: none;
  color: inherit;
  font: inherit;
  text-align: inherit;
  cursor: pointer;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: #ffdc99;
  color: #7f5c1e;
  background-color: #ef8d80;
  box-shadow: 0.4rem #e47668;
}
.button--play[aria-pressed=true]:active {
  background: none;
  border: none;
  color: inherit;
  font: inherit;
  text-align: inherit;
  cursor: pointer;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: #f0af2f;
  color: #4d2e18;
  transform: translateY(1px);
  background-color: #f5bcb4;
  box-shadow: 0.4rem #f2a297;
}
.button--play:disabled {
  background: none;
  border: none;
  color: inherit;
  font: inherit;
  text-align: inherit;
  cursor: pointer;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: #d5bd8d;
  color: #7a6d52;
  cursor: not-allowed;
  opacity: 0.5;
  background-color: #755a57;
}

.timer-card {
  display: flex;
  height: 16.5rem;
  position: relative;
  width: auto;
}
.timer-card__box {
  background: linear-gradient(to bottom, #d6ebdc, #d6ebdc);
  border-radius: 1rem;
  height: 15.75rem;
  position: absolute;
  width: calc(100% - 0.5rem);
}
.timer-card__shadow {
  align-items: flex-end;
  background: #a0b0a5;
  border: solid 1px #64826e;
  border-radius: 1rem;
  display: flex;
  height: 16.25rem;
  justify-content: flex-end;
  position: relative;
  width: 100%;
}

.play-controls {
  display: flex;
  justify-content: flex-start;
}

.header-nav {
  display: flex;
  justify-content: center;
}
.header-nav__list {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.header-nav__list-logo {
  color: #4d2e18;
  font-size: 1.5rem;
  font-weight: bold;
}
.header-nav__button {
  background: none;
  border: none;
  color: inherit;
  font: inherit;
  text-align: inherit;
  cursor: pointer;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  align-items: center;
  display: flex;
}
.header-nav__button--config-icon {
  background: none;
  border: none;
  color: inherit;
  font: inherit;
  text-align: inherit;
  cursor: pointer;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: rgba(240, 175, 47, 0);
  color: #b28d45;
  background-image: url(/assets/icons/config-status-idle.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 2.5rem 2.5rem;
  padding: 0.5rem;
  height: 2.5rem;
  width: 2.5rem;
}
.header-nav__button--config-icon:hover {
  background: none;
  border: none;
  color: inherit;
  font: inherit;
  text-align: inherit;
  cursor: pointer;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: #ffdc99;
  color: #7f5c1e;
  background-image: url(/assets/icons/config-status-hover.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 2.5rem 2.5rem;
}
.header-nav__button--config-icon:active {
  background: none;
  border: none;
  color: inherit;
  font: inherit;
  text-align: inherit;
  cursor: pointer;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: #f0af2f;
  color: #4d2e18;
  transform: translateY(1px);
  background-image: url(/assets/icons/config-status-pressed.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 2.5rem 2.5rem;
}
.header-nav__button--config-icon:disabled {
  background: none;
  border: none;
  color: inherit;
  font: inherit;
  text-align: inherit;
  cursor: pointer;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: #d5bd8d;
  color: #7a6d52;
  cursor: not-allowed;
  opacity: 0.5;
  background-image: url(/assets/icons/config-status-disabled.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 2.5rem 2.5rem;
}

.tab-nav {
  display: flex;
  justify-content: center;
}
.tab-nav__list {
  display: flex;
  justify-content: flex-start;
  width: 100%;
}
.tab-nav__list-item {
  justify-content: center;
  border-radius: 0.5rem;
  display: flex;
  height: 2rem;
}
.tab-nav__list-item-button {
  background: none;
  border: none;
  color: inherit;
  font: inherit;
  text-align: inherit;
  cursor: pointer;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: inline-block;
}
.tab-nav__list-item-button--start {
  background: none;
  border: none;
  color: inherit;
  font: inherit;
  text-align: inherit;
  cursor: pointer;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: #f0af2f;
  color: #4d2e18;
}
.tab-nav__list-item-button--stats {
  background: none;
  border: none;
  color: inherit;
  font: inherit;
  text-align: inherit;
  cursor: pointer;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: rgba(240, 175, 47, 0);
  color: #b28d45;
}
.tab-nav__list-item-button:hover {
  background: none;
  border: none;
  color: inherit;
  font: inherit;
  text-align: inherit;
  cursor: pointer;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: #ffdc99;
  color: #7f5c1e;
}

.home__bg {
  background: linear-gradient(to bottom, #ffcb66, #ffc24d);
}

.app-content {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}/*# sourceMappingURL=style.css.map */